.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Slideshow_Caption,.Menu,.Subtitle,.Title_Tabbed_Panel
{
	font-family: open-sans-n4, sans-serif;
}

.Title,.Menu_Button
{
	font-family: museo-sans-n3, sans-serif;
}

.Body-Paragraph
{
	font-family: roboto-n4, sans-serif;
}

.Header,.Character-Style-1,.Sub1
{
	font-family: raleway-n9, sans-serif;
}

#u6590-4
{
	font-family: raleway-n9, sans-serif;
}

#u6593-4
{
	font-family: raleway-n9, sans-serif;
}

#u6596-4
{
	font-family: raleway-n9, sans-serif;
}

#u6599-4
{
	font-family: raleway-n9, sans-serif;
}

#u6602-4
{
	font-family: raleway-n9, sans-serif;
}

#u6620-16
{
	font-family: raleway-n8, sans-serif;
}

#u6369-4,#u6376-6,#u6385-4
{
	font-family: raleway-n9, sans-serif;
}

#u7038,#u7053
{
	font-family: roboto-i5, sans-serif;
}

#u7075-13
{
	font-family: roboto-n5, sans-serif;
}

#u7075,#u7075-6,#u7075-8,#u7075-11,#u7075-12,#u7075-15
{
	font-family: roboto-n9, sans-serif;
}

