.version.index /* version checker */
{
	color: #000004;
	background-color: #330E02;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 9616px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u6570
{
	z-index: 95;
	min-height: 780px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6570-bw
{
	z-index: 95;
	min-height: 780px;
}

#u6590-4
{
	z-index: 96;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 486px;
}

#u6590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 84px -10000px 0px 0px;
}

#u6593-4
{
	z-index: 100;
	width: 80px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 550px;
}

#u6593-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 84px -10000px 0px 0px;
}

#u6596-4
{
	z-index: 104;
	width: 98px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 633px;
}

#u6599-4
{
	z-index: 108;
	width: 98px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 734px;
}

#u6602-4
{
	z-index: 112;
	width: 98px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 922px;
}

#u7989-4
{
	z-index: 295;
	width: 87px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 833px;
}

#u7989-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 87px;
	margin: 84px -10000px 0px 0px;
}

#u7992-4
{
	z-index: 299;
	width: 98px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 1020px;
}

#u6596-4:hover,#u6599-4:hover,#u6602-4:hover,#u7992-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 84px -10000px 0px 0px;
}

#u6590-4:hover p,#u6593-4:hover p,#u6596-4:hover p,#u6599-4:hover p,#u6602-4:hover p,#u7989-4:hover p,#u7992-4:hover p
{
	color: #ED1C24;
	visibility: inherit;
}

#u8063-4
{
	z-index: 336;
	width: 734px;
	min-height: 209px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 365px;
}

#u8063
{
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
}

#u8066
{
	z-index: 340;
	width: 307px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 59px;
}

#pu6587
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 76px;
}

#u6587
{
	z-index: 2;
	min-height: 68px;
	background-color: #FFFFFF;
	padding-bottom: 254px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 580px;
}

#u6587-bw
{
	z-index: 2;
	min-height: 68px;
}

#u6312
{
	z-index: 3;
	min-height: 629px;
	background: transparent url("../images/block1site.jpg") no-repeat center bottom;
	background-size: cover;
}

#u6312_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 14px;
	padding-bottom: 88px;
}

#u6323-4
{
	z-index: 4;
	width: 533px;
	min-height: 76px;
	background-color: transparent;
	left: 120px;
	position: relative;
}

#u6327-4
{
	z-index: 8;
	width: 608px;
	min-height: 190px;
	background-color: transparent;
	left: 120px;
	position: relative;
}

#u8164
{
	z-index: 377;
	width: 353px;
	background-color: #D2232A;
	padding-bottom: 70px;
	left: 176px;
	margin-top: 90px;
	position: relative;
}

#u8167-4
{
	z-index: 378;
	width: 162px;
	min-height: 23px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 106px;
}

#u6312-bw
{
	z-index: 3;
	min-height: 629px;
	margin-top: 90px;
}

#pamphletu8076
{
	z-index: 342;
	width: 0.01px;
	height: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 120px;
}

#u8088
{
	z-index: 343;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 180px;
}

#u8090
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
}

#u8090:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8089
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 20px;
}

#u8089:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8093
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 40px;
}

#u8093:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8092
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 60px;
}

#u8092:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8091
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 80px;
}

#u8091:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8077popup
{
	z-index: 349;
}

#u8080
{
	z-index: 350;
	width: 480px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8081-5
{
	z-index: 351;
	width: 464px;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u8081
{
	font-size: 21px;
	color: #D2232A;
	line-height: 25px;
}

#u8084
{
	z-index: 356;
	width: 480px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8085-4
{
	z-index: 357;
	width: 445px;
	min-height: 106px;
	background-color: transparent;
	text-align: center;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u8085
{
	font-size: 29px;
	color: #D2232A;
	line-height: 35px;
}

#u8078
{
	z-index: 361;
	width: 480px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8079-4
{
	z-index: 362;
	width: 436px;
	min-height: 107px;
	background-color: transparent;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 25px;
}

#u8079
{
	font-size: 27px;
	color: #D2232A;
	line-height: 32px;
}

#u8086
{
	z-index: 366;
	width: 480px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8087-4
{
	z-index: 367;
	width: 432px;
	min-height: 101px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 29px;
}

#u8087
{
	font-size: 22px;
	color: #D2232A;
	line-height: 26px;
}

#u8082
{
	z-index: 371;
	width: 480px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8083-5
{
	z-index: 372;
	width: 449px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u6340
{
	z-index: 12;
	min-height: 902px;
	background: #ED1C24 url("../images/panel2lia.jpg") no-repeat center center;
	background-size: cover;
}

#u6340_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 38px;
	padding-bottom: 141px;
}

#programs
{
	left: 590px;
	position: relative;
}

#u6351-4
{
	z-index: 13;
	width: 306px;
	min-height: 86px;
	background-color: transparent;
	left: 454px;
	margin-top: 88px;
	position: relative;
}

#pu6369-4
{
	width: 0.01px;
	left: 129px;
	margin-top: 315px;
	position: relative;
}

#u6369-4
{
	z-index: 17;
	width: 425px;
	min-height: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u8009-4
{
	z-index: 305;
	width: 324px;
	min-height: 176px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 632px;
}

#u8009
{
	line-height: 23px;
}

#u6340-bw
{
	z-index: 12;
	min-height: 902px;
}

#u8012
{
	z-index: 309;
	min-height: 417px;
	padding-bottom: 243px;
	background: #ED1C24 url("../images/panelpro1.jpg") no-repeat center center;
	background-size: cover;
}

#u8026-4
{
	z-index: 314;
	width: 423px;
	min-height: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 130px;
}

#u8023-4
{
	z-index: 310;
	width: 277px;
	min-height: 147px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 809px;
}

#u8012-bw
{
	z-index: 309;
	min-height: 417px;
	margin-top: 334px;
}

#u8029
{
	z-index: 318;
	min-height: 444px;
	padding-bottom: 216px;
	background: #ED1C24 url("../images/panel2pro.jpg") no-repeat center center;
	background-size: cover;
}

#u8030-4
{
	z-index: 319;
	width: 309px;
	min-height: 190px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 109px;
}

#u8031-4
{
	z-index: 323;
	width: 313px;
	min-height: 155px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 727px;
}

#u8029-bw
{
	z-index: 318;
	min-height: 444px;
	margin-top: 983px;
}

#u8038
{
	z-index: 327;
	min-height: 425px;
	padding-bottom: 247px;
	background: #ED1C24 url("../images/panel3.jpg") no-repeat left center;
	background-size: cover;
}

#u8040-4
{
	z-index: 332;
	width: 344px;
	min-height: 117px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 141px;
}

#u8039-4
{
	z-index: 328;
	width: 327px;
	min-height: 188px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 768px;
}

#u8023,#u8030,#u8039
{
	font-size: 24px;
	color: #7F7F7F;
	line-height: 29px;
}

#u8038-bw
{
	z-index: 327;
	min-height: 425px;
}

#u6403
{
	z-index: 21;
	min-height: 70px;
	padding-bottom: 802px;
	background: transparent url("../images/site6panel.jpg") no-repeat center top;
	background-size: cover;
}

#scholarships
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 575px;
}

#u6403-bw
{
	z-index: 21;
	min-height: 70px;
}

#u6424-4
{
	z-index: 24;
	width: 496px;
	min-height: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 120px;
}

#u6427-4
{
	z-index: 28;
	width: 495px;
	min-height: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 120px;
}

#u6327,#u6427
{
	color: #7F7F7F;
	line-height: 23px;
}

#u6433
{
	z-index: 32;
	min-height: 872.9999999999998px;
	padding-bottom: 0px;
	background: transparent url("../images/panel2328.jpg") no-repeat center top;
	background-size: cover;
}

#u6433_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 48px;
	padding-bottom: 70px;
}

#studentlife
{
	left: 580px;
	position: relative;
}

#u6452-4
{
	z-index: 33;
	width: 517px;
	min-height: 73px;
	background-color: transparent;
	left: 522px;
	margin-top: 27px;
	position: relative;
}

#u6455-4
{
	z-index: 37;
	width: 517px;
	min-height: 101px;
	background-color: transparent;
	left: 522px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#pu6458-4
{
	width: 0.01px;
	left: 522px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u6458-4
{
	z-index: 41;
	width: 445px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 73px;
}

#u6462-4
{
	z-index: 45;
	width: 445px;
	min-height: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 73px;
}

#u6492
{
	z-index: 85;
	width: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu6465-4
{
	width: 0.01px;
	left: 522px;
	margin-top: 6px;
	position: relative;
}

#u6465-4
{
	z-index: 49;
	width: 445px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 73px;
}

#u6466-6
{
	z-index: 53;
	width: 445px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 73px;
}

#u6455,#u6466
{
	font-size: 17px;
	color: #FFFFFF;
	line-height: 20px;
}

#u6502
{
	z-index: 87;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#pu6471-4
{
	width: 0.01px;
	left: 516px;
	margin-top: 17px;
	position: relative;
}

#u6471-4
{
	z-index: 59;
	width: 445px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 79px;
}

#u6472-4
{
	z-index: 63;
	width: 445px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 79px;
}

#u6519
{
	z-index: 89;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#ppu6529
{
	width: 0.01px;
	left: 517px;
	margin-top: 6px;
	position: relative;
}

#pu6529
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u6529
{
	z-index: 91;
	width: 53px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u6546
{
	z-index: 93;
	width: 65px;
	background-color: transparent;
	margin-top: 35px;
	position: relative;
}

#u6477-4
{
	z-index: 67;
	width: 445px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#u6478-4
{
	z-index: 71;
	width: 445px;
	min-height: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 78px;
}

#u6483-4
{
	z-index: 75;
	width: 447px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 76px;
}

#u6458,#u6465,#u6471,#u6477,#u6483
{
	font-size: 30px;
	line-height: 36px;
}

#u6484-6
{
	z-index: 79;
	width: 447px;
	min-height: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 76px;
}

#u6462,#u6466-3,#u6472,#u6478,#u6484,#u6484-3
{
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
}

#u6433-bw
{
	z-index: 32;
	min-height: 872.9999999999998px;
	margin-top: 860px;
}

#pamphletu7886
{
	z-index: 260;
	width: 0.01px;
	height: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 120px;
}

#u7897
{
	z-index: 261;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 180px;
}

#u7898
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
}

#u7898:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u7934
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 20px;
}

#u7934:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u7948
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 40px;
}

#u7948:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u7959
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 60px;
}

#u7959:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u7970
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 100px;
	left: 80px;
}

#u7970:hover
{
	background-color: #DEDEDE;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8090.PamphletThumbSelected,#u8089.PamphletThumbSelected,#u8093.PamphletThumbSelected,#u8092.PamphletThumbSelected,#u8091.PamphletThumbSelected,#u7898.PamphletThumbSelected,#u7934.PamphletThumbSelected,#u7948.PamphletThumbSelected,#u7959.PamphletThumbSelected,#u7970.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D2232A;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u8077,#u7893
{
	position: absolute;
	width: 480px;
	background-color: transparent;
}

#u7893popup
{
	z-index: 267;
}

#u7895
{
	z-index: 268;
	width: 480px;
	height: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7931-5
{
	z-index: 269;
	width: 464px;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u8081-3,#u7931-3
{
	font-size: 32px;
	line-height: 38px;
}

#u7937
{
	z-index: 274;
	width: 480px;
	height: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7945-4
{
	z-index: 275;
	width: 445px;
	min-height: 98px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u7931,#u7945
{
	font-size: 32px;
	color: #D2232A;
	line-height: 38px;
}

#u7951
{
	z-index: 279;
	width: 480px;
	height: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7956-4
{
	z-index: 280;
	width: 436px;
	min-height: 107px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 25px;
}

#u8026,#u8031,#u8040,#u7956
{
	font-size: 40px;
	color: #D2232A;
	line-height: 48px;
}

#u7962
{
	z-index: 284;
	width: 480px;
	height: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7967-4
{
	z-index: 285;
	width: 432px;
	min-height: 101px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 29px;
}

#u6369,#u7967
{
	font-size: 39px;
	color: #D2232A;
	line-height: 47px;
}

#u7973
{
	z-index: 289;
	width: 480px;
	height: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7978-5
{
	z-index: 290;
	width: 449px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u8081-2,#u8083-2,#u7931-2,#u7978-2
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8083,#u8083-3,#u7978,#u7978-3
{
	font-size: 28px;
	color: #D2232A;
	line-height: 34px;
}

#u6414
{
	z-index: 22;
	width: 451px;
	background-color: transparent;
	position: fixed;
	top: 3992px;
	left: 508px;
}

#pu6570,#pu6340,#pu6403,#presources
{
	width: 0.01px;
	margin-left: -100px;
}

#resources
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 699px;
	left: 580px;
}

#u8179
{
	z-index: 382;
	height: 708px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
}

#u8179-bw
{
	z-index: 382;
	height: 708px;
}

#pu6605
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u6605
{
	z-index: 116;
	min-height: 1876px;
	background: #FFFFFF url("../images/panelgall.jpg") no-repeat center center;
	background-size: cover;
}

#u6605_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 40px;
	padding-bottom: 172px;
}

#u7105-4
{
	z-index: 192;
	width: 550px;
	min-height: 72px;
	background-color: transparent;
	left: 310px;
	position: relative;
}

#u7108-4
{
	z-index: 196;
	width: 550px;
	min-height: 72px;
	background-color: transparent;
	left: 320px;
	margin-top: 733px;
	position: relative;
}

#pu7111
{
	width: 0.01px;
	left: 189px;
	margin-top: 65px;
	position: relative;
}

#u7111
{
	z-index: 200;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #3E3E3E url("../images/logo.jpg") no-repeat center center;
	background-size: cover;
}

#u7111:hover
{
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	width: 247px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background-size: cover;
}

#u7112
{
	z-index: 201;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #D2232A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
}

#u7113-4
{
	z-index: 202;
	width: 155px;
	min-height: 35px;
	background-color: transparent;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 50px;
}

#u7120
{
	z-index: 206;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: #3E3E3E url("../images/londonmorning%20(3).jpg") no-repeat center center;
	background-size: cover;
}

#u7121
{
	z-index: 207;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #D2232A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
}

#u7122-4
{
	z-index: 208;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u7129
{
	z-index: 212;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 541px;
	background: #3E3E3E url("../images/helloquence-51716.jpg") no-repeat center center;
	background-size: cover;
}

#u7120:hover,#u7129:hover
{
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	width: 247px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u7130
{
	z-index: 213;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #D2232A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
}

#u7131-4
{
	z-index: 214;
	width: 218px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 24px;
}

#pu7141
{
	width: 0.01px;
	left: 310px;
	margin-top: 15px;
	position: relative;
}

#u7141
{
	z-index: 224;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	background: #3E3E3E url("../images/mainphoto.jpg") no-repeat center top;
	background-size: cover;
}

#u7141:hover
{
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	background-repeat: no-repeat;
	background-position: center top;
	width: 247px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u7142
{
	z-index: 225;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #D2232A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
}

#u7143-4
{
	z-index: 226;
	width: 218px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 24px;
}

#u7138
{
	z-index: 218;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 285px;
	background: #3E3E3E url("../images/img_0846%20(1).jpg") no-repeat left top;
	background-size: cover;
}

#u7138:hover
{
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	background-repeat: no-repeat;
	background-position: left top;
	width: 247px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u7139
{
	z-index: 219;
	width: 247px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #D2232A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
}

#u7140-4
{
	z-index: 220;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#testimonials
{
	left: 556px;
	margin-top: 125px;
	position: relative;
}

#u6605-bw
{
	z-index: 116;
	min-height: 1876px;
}

#slideshowu6732
{
	z-index: 121;
	width: 0.01px;
	height: 559px;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 19px;
}

#u6735
{
	position: absolute;
	width: 524px;
	height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -7px;
	left: 191px;
	-pie-background: rgba(0,0,0,0.9);
}

#u6735popup
{
	z-index: 122;
}

#u6738
{
	z-index: 123;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6872
{
	z-index: 125;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6892
{
	z-index: 127;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6912
{
	z-index: 129;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6932
{
	z-index: 131;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6952
{
	z-index: 133;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6738_img,#u6872_img,#u6892_img,#u6912_img,#u6932_img,#u6952_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u6744
{
	position: absolute;
	width: 1106px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6744popup
{
	z-index: 135;
}

#u6749
{
	z-index: 136;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 39px;
}

#u6878
{
	z-index: 138;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 385px;
}

#u6898
{
	z-index: 140;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 731px;
}

#u6749:hover,#u6878:hover,#u6898:hover
{
	width: 336px;
	height: 242px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6918
{
	z-index: 142;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 39px;
}

#u6938
{
	z-index: 144;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 385px;
}

#u6958
{
	z-index: 146;
	width: 336px;
	height: 242px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 731px;
}

#u6918:hover,#u6938:hover,#u6958:hover
{
	width: 336px;
	height: 242px;
	min-height: 0px;
	margin: 256px -10000px 0px 0px;
}

#u6749_img,#u6878_img,#u6898_img,#u6918_img,#u6938_img,#u6958_img
{
	margin-left: -13px;
	margin-right: -14px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7016
{
	z-index: 148;
	min-height: 907.8499999999995px;
	padding-bottom: 0px;
	background: #C1272D url("../images/testipanel.jpg") no-repeat center top;
	background-size: cover;
}

#u7016_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 113px;
}

#u7035-4
{
	z-index: 149;
	width: 398px;
	min-height: 79px;
	background-color: transparent;
	left: 399px;
	position: relative;
}

#u6351,#u6452,#u7035
{
	color: #FFFFFF;
	line-height: 72px;
}

#pu7062
{
	width: 0.01px;
	left: 132px;
	margin-top: 60px;
	position: relative;
}

#u7062
{
	z-index: 158;
	width: 762px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7038-4
{
	z-index: 159;
	width: 724px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7042-4
{
	z-index: 163;
	width: 368px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 394px;
}

#u7216
{
	z-index: 238;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#pu7053-5
{
	width: 0.01px;
	left: 136px;
	margin-top: 33px;
	position: relative;
}

#u7053-5
{
	z-index: 153;
	width: 724px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7053-3
{
	font-size: 17px;
	line-height: 20px;
}

#u7054-4
{
	z-index: 167;
	width: 348px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 386px;
}

#u7226
{
	z-index: 240;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 748px;
}

#pu7210-4
{
	width: 0.01px;
	left: 136px;
	margin-top: 19px;
	position: relative;
}

#u7210-4
{
	z-index: 230;
	width: 724px;
	min-height: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u7038,#u7053,#u7210
{
	font-size: 17px;
	font-family: roboto, sans-serif;
	font-weight: 500;
	font-style: italic;
	line-height: 20px;
}

#u7211-4
{
	z-index: 234;
	width: 396px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 324px;
}

#u7211
{
	font-size: 22px;
	line-height: 26px;
}

#u7236
{
	z-index: 242;
	width: 149px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 754px;
}

#u7016-bw
{
	z-index: 148;
	min-height: 907.8499999999995px;
	margin-top: 1726px;
}

#u7256
{
	z-index: 244;
	min-height: 492px;
	background: #C1272D url("../images/schoolpanel.jpg") no-repeat center top;
	background-size: cover;
}

#u7256_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 25px;
	padding-bottom: 150px;
}

#contact
{
	left: 572px;
	position: relative;
}

#u7267-4
{
	z-index: 245;
	width: 338px;
	min-height: 73px;
	background-color: transparent;
	left: 419px;
	margin-top: 46px;
	position: relative;
}

#u6323,#u6424,#u7105,#u7108,#u7267
{
	color: #D2232A;
	line-height: 72px;
}

#u7270-6
{
	z-index: 249;
	width: 498px;
	min-height: 69px;
	background-color: transparent;
	text-align: center;
	left: 334px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u7042,#u7054,#u7270,#u7270-3
{
	font-size: 27px;
	line-height: 32px;
}

#u7273
{
	z-index: 255;
	width: 218px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D2232A;
	padding-bottom: 10px;
	left: 476px;
	margin-top: 60px;
	position: relative;
}

#u7273:hover
{
	background-color: #C1272D;
	width: 218px;
	min-height: 0px;
	margin: 60px 0px 0px;
}

#u7276-4
{
	z-index: 256;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
}

#u8063-2,#u6323-2,#u6327-2,#u8085-2,#u8079-2,#u8087-2,#u6351-2,#u6369-2,#u8009-2,#u8026-2,#u8023-2,#u8030-2,#u8031-2,#u8040-2,#u8039-2,#u6424-2,#u6427-2,#u6452-2,#u6455-2,#u6458-2,#u6462-2,#u6465-2,#u6466-2,#u6466-4,#u6471-2,#u6472-2,#u6477-2,#u6478-2,#u6483-2,#u6484-2,#u6484-4,#u7945-2,#u7956-2,#u7967-2,#u7105-2,#u7108-2,#u7035-2,#u7038-2,#u7042-2,#u7053-2,#u7054-2,#u7210-2,#u7211-2,#u7267-2,#u7270-2,#u7270-4,#u7276-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7276
{
	font-size: 27px;
	color: #FFFFFF;
	line-height: 32px;
}

#u7256-bw
{
	z-index: 244;
	min-height: 492px;
}

#u7065
{
	z-index: 172;
	min-height: 161px;
	background-color: #D2232A;
	padding-bottom: 33px;
}

#u6587_align_to_page,#u8012_align_to_page,#u8029_align_to_page,#u8038_align_to_page,#u6403_align_to_page,#u7065_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u7068
{
	z-index: 173;
	width: 266px;
	background-color: #D2232A;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 50px;
}

#u7075-17
{
	z-index: 175;
	width: 420px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 684px;
}

#u7075-11
{
	text-align: right;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 900;
}

#u7075-2,#u7075-7,#u7075-9,#u7075-14
{
	text-align: right;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7075,#u7075-6,#u7075-8,#u7075-12
{
	font-size: 13px;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 900;
	line-height: 16px;
}

#u7075-13
{
	font-size: 13px;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 500;
	line-height: 16px;
}

#u7075-15
{
	font-size: 13px;
	line-height: 16px;
	font-family: roboto, sans-serif;
	font-weight: 900;
}

#u7065-bw
{
	z-index: 172;
	min-height: 161px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

